schemas/rz/current/BMF_XSD_Schema_Rueckzahlung.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--Rückzahlung - Stand: 17.12.2020-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:simpleType name="alphanumerisch11">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9,a-z,A-Z]{1,11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alphanumerisch35">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9,a-z,A-Z,ä,Ä,ö,Ö,ü,Ü,ß,//,/.,/ ,\-,/,,/(,/),/=,/',/*,/´,/`]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alphanumerisch37">
		<xs:restriction base="xs:string">
			<xs:maxLength value="37"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9,a-z,A-Z,ä,Ä,ö,Ö,ü,Ü,ß,//,/.,/ ,\-,/,,/(,/),/=,/',/*,/´,/`]{1,37}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alphanumerisch70">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9,a-z,A-Z,ä,Ä,ö,Ö,ü,Ü,ß,//,/.,/ ,\-,/,,/(,/),/=,/',/*,/´,/`]{1,70}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="datum">
		<xs:list itemType="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="datumtype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="datum"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="blz">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9,a-z,A-Z]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="giro">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9,a-z,A-Z]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="iban">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9,a-z,A-Z]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kz">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.01"/>
			<xs:maxInclusive value="9999999999.99"/>
			<xs:totalDigits value="12"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kztype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="kz"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="plz">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9,a-z,A-Z,\-]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uhrzeittype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="uhrzeit"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="wahl">
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ADRE" type="alphanumerisch35"/>
	<xs:element name="ALLGEMEINE_DATEN">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SATZNR"/>
				<xs:element ref="ANBRINGEN"/>
				<xs:element ref="ART_RZ"/>
				<xs:element ref="FASTNR"/>
				<xs:element ref="KUNDENINFO" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANBRINGEN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="RZ"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ANZAHL_ERKLAERUNGEN">
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger">
				<xs:maxInclusive value="9999"/>
				<xs:minInclusive value="1"/>
				<xs:totalDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ART_IDENTIFIKATIONSBEGRIFF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="FASTNR"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ART_RZ">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="I"/>
				<xs:enumeration value="A"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BANK" type="alphanumerisch70"/>
	<xs:element name="BAR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ORT" minOccurs="0"/>
				<xs:element ref="PLZE"/>
				<xs:element ref="ADRE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BETRAG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="kz">
					<xs:attribute name="type" type="kztype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BIC" type="alphanumerisch11"/>
	<xs:element name="BLZ" type="blz"/>
	<xs:element name="GIRO" type="giro"/>
	<xs:element name="DATUM_ERSTELLUNG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:date">
					<xs:attribute name="type" type="datumtype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EMPFAENGER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NAMEE"/>
				<xs:element ref="BETRAG"/>
				<xs:element ref="LKZ" minOccurs="0"/>
				<xs:element ref="UNBAR" minOccurs="0"/>
				<xs:element ref="BAR" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ERKLAERUNG">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ALLGEMEINE_DATEN"/>
				<xs:element ref="EMPFAENGER" maxOccurs="3"/>
			</xs:sequence>
			<xs:attribute name="art" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ERKLAERUNGS_UEBERMITTLUNG">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="INFO_DATEN"/>
				<xs:element ref="ERKLAERUNG" maxOccurs="9999"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FASTNR">
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger">
				<xs:maxInclusive value="989999999"/>
				<xs:minInclusive value="010000010"/>
				<xs:pattern value="\d{9}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IBAN" type="iban"/>
	<xs:element name="IDENTIFIKATIONSBEGRIFF">
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger">
				<xs:maxInclusive value="989999999"/>
				<xs:minInclusive value="010000010"/>
				<xs:pattern value="\d{9}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="INFO_DATEN">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ART_IDENTIFIKATIONSBEGRIFF"/>
				<xs:element ref="IDENTIFIKATIONSBEGRIFF"/>
				<xs:element ref="PAKET_NR"/>
				<xs:element ref="DATUM_ERSTELLUNG"/>
				<xs:element ref="UHRZEIT_ERSTELLUNG"/>
				<xs:element ref="ANZAHL_ERKLAERUNGEN"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="KUNDENINFO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
				<xs:minLength value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LKZ">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="AS"/>
				<xs:enumeration value="AI"/>
				<xs:enumeration value="AG"/>
				<xs:enumeration value="SY"/>
				<xs:enumeration value="EG"/>
				<xs:enumeration value="AR"/>
				<xs:enumeration value="AW"/>
				<xs:enumeration value="AU"/>
				<xs:enumeration value="BB"/>
				<xs:enumeration value="BZ"/>
				<xs:enumeration value="BM"/>
				<xs:enumeration value="VG"/>
				<xs:enumeration value="BN"/>
				<xs:enumeration value="YU"/>
				<xs:enumeration value="NG"/>
				<xs:enumeration value="DE"/>
				<xs:enumeration value="BF"/>
				<xs:enumeration value="BS"/>
				<xs:enumeration value="DM"/>
				<xs:enumeration value="CK"/>
				<xs:enumeration value="ST"/>
				<xs:enumeration value="SO"/>
				<xs:enumeration value="DZ"/>
				<xs:enumeration value="KP"/>
				<xs:enumeration value="LA"/>
				<xs:enumeration value="MG"/>
				<xs:enumeration value="LK"/>
				<xs:enumeration value="ET"/>
				<xs:enumeration value="DO"/>
				<xs:enumeration value="FO"/>
				<xs:enumeration value="AD"/>
				<xs:enumeration value="LI"/>
				<xs:enumeration value="MC"/>
				<xs:enumeration value="FK"/>
				<xs:enumeration value="FR"/>
				<xs:enumeration value="BR"/>
				<xs:enumeration value="FM"/>
				<xs:enumeration value="GA"/>
				<xs:enumeration value="GI"/>
				<xs:enumeration value="GD"/>
				<xs:enumeration value="GB"/>
				<xs:enumeration value="LU"/>
				<xs:enumeration value="GU"/>
				<xs:enumeration value="GF"/>
				<xs:enumeration value="GR"/>
				<xs:enumeration value="HK"/>
				<xs:enumeration value="IE"/>
				<xs:enumeration value="KM"/>
				<xs:enumeration value="MR"/>
				<xs:enumeration value="PK"/>
				<xs:enumeration value="IR"/>
				<xs:enumeration value="IT"/>
				<xs:enumeration value="JM"/>
				<xs:enumeration value="JP"/>
				<xs:enumeration value="VI"/>
				<xs:enumeration value="SZ"/>
				<xs:enumeration value="KH"/>
				<xs:enumeration value="CA"/>
				<xs:enumeration value="KI"/>
				<xs:enumeration value="LS"/>
				<xs:enumeration value="MA"/>
				<xs:enumeration value="NL"/>
				<xs:enumeration value="SA"/>
				<xs:enumeration value="BE"/>
				<xs:enumeration value="BT"/>
				<xs:enumeration value="DK"/>
				<xs:enumeration value="JO"/>
				<xs:enumeration value="NP"/>
				<xs:enumeration value="NO"/>
				<xs:enumeration value="SE"/>
				<xs:enumeration value="ES"/>
				<xs:enumeration value="TH"/>
				<xs:enumeration value="TO"/>
				<xs:enumeration value="LY"/>
				<xs:enumeration value="LB"/>
				<xs:enumeration value="MO"/>
				<xs:enumeration value="MY"/>
				<xs:enumeration value="MQ"/>
				<xs:enumeration value="MK"/>
				<xs:enumeration value="MN"/>
				<xs:enumeration value="NC"/>
				<xs:enumeration value="NZ"/>
				<xs:enumeration value="AN"/>
				<xs:enumeration value="PG"/>
				<xs:enumeration value="PT"/>
				<xs:enumeration value="PR"/>
				<xs:enumeration value="GQ"/>
				<xs:enumeration value="BW"/>
				<xs:enumeration value="PH"/>
				<xs:enumeration value="BA"/>
				<xs:enumeration value="TT"/>
				<xs:enumeration value="AF"/>
				<xs:enumeration value="AL"/>
				<xs:enumeration value="AM"/>
				<xs:enumeration value="AZ"/>
				<xs:enumeration value="BY"/>
				<xs:enumeration value="BO"/>
				<xs:enumeration value="BG"/>
				<xs:enumeration value="BI"/>
				<xs:enumeration value="CL"/>
				<xs:enumeration value="CR"/>
				<xs:enumeration value="CI"/>
				<xs:enumeration value="DJ"/>
				<xs:enumeration value="EC"/>
				<xs:enumeration value="SV"/>
				<xs:enumeration value="EE"/>
				<xs:enumeration value="FJ"/>
				<xs:enumeration value="FI"/>
				<xs:enumeration value="GM"/>
				<xs:enumeration value="GE"/>
				<xs:enumeration value="GH"/>
				<xs:enumeration value="GT"/>
				<xs:enumeration value="GY"/>
				<xs:enumeration value="GN"/>
				<xs:enumeration value="GW"/>
				<xs:enumeration value="HT"/>
				<xs:enumeration value="HN"/>
				<xs:enumeration value="IN"/>
				<xs:enumeration value="ID"/>
				<xs:enumeration value="IQ"/>
				<xs:enumeration value="IS"/>
				<xs:enumeration value="YE"/>
				<xs:enumeration value="CM"/>
				<xs:enumeration value="CV"/>
				<xs:enumeration value="KZ"/>
				<xs:enumeration value="KE"/>
				<xs:enumeration value="KG"/>
				<xs:enumeration value="CO"/>
				<xs:enumeration value="CG"/>
				<xs:enumeration value="KR"/>
				<xs:enumeration value="HR"/>
				<xs:enumeration value="CU"/>
				<xs:enumeration value="LV"/>
				<xs:enumeration value="LR"/>
				<xs:enumeration value="LT"/>
				<xs:enumeration value="MW"/>
				<xs:enumeration value="MV"/>
				<xs:enumeration value="ML"/>
				<xs:enumeration value="MT"/>
				<xs:enumeration value="MU"/>
				<xs:enumeration value="MZ"/>
				<xs:enumeration value="MD"/>
				<xs:enumeration value="NA"/>
				<xs:enumeration value="NR"/>
				<xs:enumeration value="NI"/>
				<xs:enumeration value="NE"/>
				<xs:enumeration value="PA"/>
				<xs:enumeration value="PY"/>
				<xs:enumeration value="PE"/>
				<xs:enumeration value="PL"/>
				<xs:enumeration value="RW"/>
				<xs:enumeration value="ZA"/>
				<xs:enumeration value="ZM"/>
				<xs:enumeration value="SM"/>
				<xs:enumeration value="SN"/>
				<xs:enumeration value="SC"/>
				<xs:enumeration value="SL"/>
				<xs:enumeration value="SG"/>
				<xs:enumeration value="SI"/>
				<xs:enumeration value="SD"/>
				<xs:enumeration value="SR"/>
				<xs:enumeration value="TR"/>
				<xs:enumeration value="TJ"/>
				<xs:enumeration value="TG"/>
				<xs:enumeration value="TD"/>
				<xs:enumeration value="TN"/>
				<xs:enumeration value="UG"/>
				<xs:enumeration value="HU"/>
				<xs:enumeration value="UY"/>
				<xs:enumeration value="UZ"/>
				<xs:enumeration value="VU"/>
				<xs:enumeration value="VE"/>
				<xs:enumeration value="ZW"/>
				<xs:enumeration value="CY"/>
				<xs:enumeration value="RO"/>
				<xs:enumeration value="RU"/>
				<xs:enumeration value="SB"/>
				<xs:enumeration value="CH"/>
				<xs:enumeration value="SK"/>
				<xs:enumeration value="VN"/>
				<xs:enumeration value="KN"/>
				<xs:enumeration value="LC"/>
				<xs:enumeration value="VC"/>
				<xs:enumeration value="BH"/>
				<xs:enumeration value="IL"/>
				<xs:enumeration value="QA"/>
				<xs:enumeration value="KW"/>
				<xs:enumeration value="VA"/>
				<xs:enumeration value="OM"/>
				<xs:enumeration value="CZ"/>
				<xs:enumeration value="TM"/>
				<xs:enumeration value="TV"/>
				<xs:enumeration value="UA"/>
				<xs:enumeration value="WS"/>
				<xs:enumeration value="BU"/>
				<xs:enumeration value="US"/>
				<xs:enumeration value="AE"/>
				<xs:enumeration value="MX"/>
				<xs:enumeration value="TZ"/>
				<xs:enumeration value="AO"/>
				<xs:enumeration value="BJ"/>
				<xs:enumeration value="CN"/>
				<xs:enumeration value="BD"/>
				<xs:enumeration value="CF"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NAMEE" type="alphanumerisch37"/>
	<xs:element name="ORT" type="alphanumerisch35"/>
	<xs:element name="PAKET_NR">
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger">
				<xs:maxInclusive value="999999999"/>
				<xs:minInclusive value="1"/>
				<xs:totalDigits value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PLZE" type="plz"/>
	<xs:element name="SATZNR">
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger">
				<xs:maxInclusive value="999999999"/>
				<xs:minInclusive value="1"/>
				<xs:totalDigits value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UHRZEIT_ERSTELLUNG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:time">
					<xs:attribute name="type" type="uhrzeittype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="UNBAR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BLZ" minOccurs="0"/>
				<xs:element ref="GIRO" minOccurs="0"/>
				<xs:element ref="IBAN" minOccurs="0"/>
				<xs:element ref="BIC" minOccurs="0"/>
				<xs:element ref="BANK" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
