schemas/tvw/current/BMF_XSD_Schema_Teamverwaltung.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Teamverwaltung - Stand: 18.10.2006 -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Peterszel G. (BRZ) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="datumtype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="datum"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="datum">
		<xs:list itemType="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="uhrzeittype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="uhrzeit"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="aktiontype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N"/>
			<xs:enumeration value="L"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="arttype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TVW"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="aktionteamtype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N"/>
			<xs:enumeration value="L"/>
			<xs:enumeration value="A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fastnr">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxInclusive value="989999999"/>
			<xs:minInclusive value="020000010"/>
			<xs:pattern value="\d{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxInclusive value="999999999"/>
			<xs:minInclusive value="1"/>
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alphanumerisch50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9,a-z,A-Z,ä,Ä,ö,Ö,ü,Ü,ß,/ ]{1,50}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ANBRINGEN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="TVW"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ANZAHL_TEAM">
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger">
				<xs:maxInclusive value="9999"/>
				<xs:minInclusive value="1"/>
				<xs:totalDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ART_IDENTIFIKATIONSBEGRIFF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="FASTNR"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BENID">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="aktion" type="aktiontype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BENUTZER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BENID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DATUM_ERSTELLUNG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:date">
					<xs:attribute name="type" type="datumtype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FASTNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="fastnr">
					<xs:attribute name="aktion" type="aktiontype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IDENTIFIKATIONSBEGRIFF" type="fastnr"/>
	<xs:element name="INFO_DATEN">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ART_IDENTIFIKATIONSBEGRIFF"/>
				<xs:element ref="IDENTIFIKATIONSBEGRIFF"/>
				<xs:element ref="PAKET_NR"/>
				<xs:element ref="DATUM_ERSTELLUNG"/>
				<xs:element ref="UHRZEIT_ERSTELLUNG"/>
				<xs:element ref="ANZAHL_TEAM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="KLIENT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FASTNR"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PAKET_NR" type="number"/>
	<xs:element name="SATZNR" type="number"/>
	<xs:element name="TEAM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SATZNR"/>
				<xs:element ref="ANBRINGEN"/>
				<xs:element ref="TEAMNAME"/>
				<xs:element ref="BENUTZER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="KLIENT" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="art" type="arttype" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TEAMNAME">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="alphanumerisch50">
					<xs:attribute name="aktion" type="aktionteamtype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TEAM_UEBERMITTLUNG">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="INFO_DATEN"/>
				<xs:element ref="TEAM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UHRZEIT_ERSTELLUNG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:time">
					<xs:attribute name="type" type="uhrzeittype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
