schemas/nova/current/BMF_XSD_Schema_Normverbrauchsabgabe.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--  Normverbrauchsabgabe - Stand: 06.06.2023  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:simpleType name="kz">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="-9999999999.99"/>
			<xs:maxInclusive value="9999999999.99"/>
			<xs:totalDigits value="12"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kztype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="kz"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="datumtype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="datum"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uhrzeittype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="uhrzeit"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="jahrmonattype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="jahrmonat"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fin">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9A-Za-z]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="novasatz">
		<xs:restriction base="xs:string">
			<xs:enumeration value="00"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="16.67"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="38"/>
			<xs:enumeration value="39"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="49"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="54"/>
			<xs:enumeration value="55"/>
			<xs:enumeration value="56"/>
			<xs:enumeration value="57"/>
			<xs:enumeration value="58"/>
			<xs:enumeration value="59"/>
			<xs:enumeration value="60"/>
			<xs:enumeration value="61"/>
			<xs:enumeration value="62"/>
			<xs:enumeration value="63"/>
			<xs:enumeration value="64"/>
			<xs:enumeration value="65"/>
			<xs:enumeration value="66"/>
			<xs:enumeration value="67"/>
			<xs:enumeration value="68"/>
			<xs:enumeration value="69"/>
			<xs:enumeration value="70"/>
			<xs:enumeration value="71"/>
			<xs:enumeration value="72"/>
			<xs:enumeration value="73"/>
			<xs:enumeration value="74"/>
			<xs:enumeration value="75"/>
			<xs:enumeration value="76"/>
			<xs:enumeration value="77"/>
			<xs:enumeration value="78"/>
			<xs:enumeration value="79"/>
			<xs:enumeration value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ustinfo">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="30"/>
			<xs:maxInclusive value="33"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="verggrund">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="40"/>
			<xs:maxInclusive value="59"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alphanumerisch500">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9a-zA-ZäÄöÖüÜß /_='´`:!%§;\(\)\[\]\{\}\+\*\.\?\-]{1,500}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ALLGEMEINE_DATEN">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ANBRINGEN"/>
				<xs:element ref="ZR"/>
				<xs:element ref="FASTNR"/>
				<xs:element ref="KUNDENINFO" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANBRINGEN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NOVA1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ANMELDUNG">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LIEF_BMG" minOccurs="0"/>
				<xs:element ref="LIEF_STEUER" minOccurs="0"/>
				<xs:element ref="IGE_BMG" minOccurs="0"/>
				<xs:element ref="IGE_STEUER" minOccurs="0"/>
				<xs:element ref="SONSTVG_BMG" minOccurs="0"/>
				<xs:element ref="SONSTVG_STEUER" minOccurs="0"/>
				<xs:element ref="BERICHTIG" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANZAHL_ERKLAERUNGEN">
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger">
				<xs:maxInclusive value="9999"/>
				<xs:minInclusive value="1"/>
				<xs:totalDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ART_IDENTIFIKATIONSBEGRIFF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="FASTNR"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BERICHTIG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="kz">
					<xs:attribute name="type" type="kztype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DATUM_ERSTELLUNG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:date">
					<xs:attribute name="type" type="datumtype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ERKLAERUNG">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SATZNR"/>
				<xs:element ref="ALLGEMEINE_DATEN" minOccurs="0"/>
				<xs:element ref="ANMELDUNG" minOccurs="0"/>
				<xs:element ref="VERGUETUNG" minOccurs="0" maxOccurs="1200"/>
			</xs:sequence>
			<xs:attribute name="art" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NOVA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ERKLAERUNGS_UEBERMITTLUNG">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="INFO_DATEN"/>
				<xs:element ref="ERKLAERUNG" maxOccurs="9999"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FASTNR">
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger">
				<xs:maxInclusive value="989999999"/>
				<xs:minInclusive value="030000010"/>
				<xs:pattern value="\d{9}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FIN" type="fin"/>
	<xs:element name="IDENTIFIKATIONSBEGRIFF">
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger">
				<xs:maxInclusive value="989999999"/>
				<xs:minInclusive value="030000010"/>
				<xs:pattern value="\d{9}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IGE_BMG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="kz">
					<xs:attribute name="type" type="kztype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="IGE_STEUER">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="kz">
					<xs:attribute name="type" type="kztype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="INFO_DATEN">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ART_IDENTIFIKATIONSBEGRIFF"/>
				<xs:element ref="IDENTIFIKATIONSBEGRIFF"/>
				<xs:element ref="PAKET_NR"/>
				<xs:element ref="DATUM_ERSTELLUNG"/>
				<xs:element ref="UHRZEIT_ERSTELLUNG"/>
				<xs:element ref="ANZAHL_ERKLAERUNGEN"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="KUNDENINFO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
				<xs:minLength value="0"/>
				<xs:pattern value="[0-9a-zA-ZäÄöÖüÜß /_=:!%§;\(\)\[\]\{\}\+\*\.\?\-]{0,50}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LIEF_BMG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="kz">
					<xs:attribute name="type" type="kztype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LIEF_STEUER">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="kz">
					<xs:attribute name="type" type="kztype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NOVA_SATZ" type="novasatz"/>
	<xs:element name="PAKET_NR">
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger">
				<xs:maxInclusive value="999999999"/>
				<xs:minInclusive value="1"/>
				<xs:totalDigits value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SATZNR">
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger">
				<xs:maxInclusive value="999999999"/>
				<xs:minInclusive value="1"/>
				<xs:totalDigits value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SONST_BEGRUEND" type="alphanumerisch500"/>
	<xs:element name="SONSTVG_BMG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="kz">
					<xs:attribute name="type" type="kztype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SONSTVG_STEUER">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="kz">
					<xs:attribute name="type" type="kztype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="UHRZEIT_ERSTELLUNG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:time">
					<xs:attribute name="type" type="uhrzeittype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="UST_BMG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="kz">
					<xs:attribute name="type" type="kztype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="UST_INFO" type="ustinfo"/>
	<xs:element name="VERG_BMG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="kz">
					<xs:attribute name="type" type="kztype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VERG_STEUER">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="kz">
					<xs:attribute name="type" type="kztype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VERG_GRUND" type="verggrund"/>
	<xs:element name="VERGUETUNG">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FIN" minOccurs="0"/>
				<xs:element ref="VERG_BMG" minOccurs="0"/>
				<xs:element ref="NOVA_SATZ" minOccurs="0"/>
				<xs:element ref="VERG_STEUER" minOccurs="0"/>
				<xs:element ref="VERG_GRUND" minOccurs="0"/>
				<xs:element ref="SONST_BEGRUEND" minOccurs="0"/>
				<xs:element ref="UST_BMG" minOccurs="0"/>
				<xs:element ref="UST_INFO" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ZR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:gYearMonth">
					<xs:attribute name="type" type="jahrmonattype" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
